.ListComponent {
    
    color: #000080;
    width: 300px;
    margin: 20px auto;
    height: 15px;
    background-color: #fff;
    font: 30px 'Comic Sans MS';
    text-align: left;
    
    margin-left: 10%;

    
}
