.ListComponent {
    
    color: #000080;
    width: 25%;
    margin: 20px auto;
    height: 15px;
    background-color: #fff;
    font: 25px 'Times New Roman';
    text-align: left;
    
    margin-left: 10%;

    
}
